## Remove PDFs from assets
asset/*.pdf

## Remove Gradio flagged dir
flagged/

## Remove Notebooks
notebooks/*.ipynb

## Python and local envs
__pycache__
*.pyc
.env

## Ruff
.ruff_cache

## Pytest -- temp
.pytest_cache
tests/

## Docs -- temp
docs/
